*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#titulo {
    font-family: sans-serif;
    color: white;
    margin-left: 4%;
} 

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

main{

    font-family: sans-serif;
    color: rgb(12,90,117);
    margin-left: 35%;
    margin-top: 2%;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(12,90,117);
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: rgb(12,90,117);
    display: block;
}

fieldset.grupo.campo{
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="number"], .campo select, .campo textarea  {
    padding: 0.2em;
    border: 1px solid rgb(12,90,117);
    box-shadow: 2px 2px 2px rgb(12,90,117);
    display: block;
}

.campo select option {
    padding-right: 1em;
}
.botao {
    font-size: 1.2em;
    background: rgb(12,90,117);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(32, 165, 209);
    text-shadow: 1px 1px 1px rgb(12,90,117);
    position: absolute;
    top: 95%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
